<div class="card-container">
  <div class="card">
    <h2>Pizza en vitrina</h2>
    <p>Hawaiana: <b>4</b></p>
    <p>Champiñones: <b>4</b></p>
    <p>Mexicana: <b>4</b></p>
    <p>Ranchera: <b>4</b></p>
  </div>
  <div class="card">
    <h2>Pizzas</h2>
    <div class="icon-container">
      <button mat-button class="icon icon-add">
        <img class="icon-image" src="assets/img/pizza.png">
        <div class="icon-text">Hawaiana</div>
        <div class="icon-price">$2500</div>
      </button>
      <button mat-button class="icon icon-add">
          <img class="icon-image" src="assets/img/pizza.png">
          <div class="icon-text">Champiñones</div>
          <div class="icon-price">$2500</div>
      </button>
      <button mat-button class="icon icon-add">
          <img class="icon-image" src="assets/img/pizza.png">
          <div class="icon-text">Mexicana</div>
          <div class="icon-price">$2500</div>
      </button>
      <button mat-button class="icon icon-add">
          <img class="icon-image" src="assets/img/pizza.png">
          <div class="icon-text">Ranchera</div>
          <div class="icon-price">$2500</div>
      </button>
    </div>
  </div>
  <div class="card">
      <h3>Hamburguesas</h3>
    </div>
    <div class="card">
      <h3>Perros calientes</h3>
    </div>
</div>